.portada {
	margin-bottom: var(--marginPortada);
	min-height: calc(var(--heightPortada)/2);
	.imgFondo {
		position: relative;
		z-index: -1;
		max-height: calc(var(--heightPortada)/2);
		max-width: 100%;
		overflow: hidden;
		margin-bottom: var(--marginPortada);
	}
	img {
		height: var(--heightPortada);
		width: 100%;
		object-fit: none;
		object-position: center center;
	}
	.titulo {
		color: var(--grisOscuro);
		font-size: 4rem;
		font-weight: 600;
		line-height: 3rem;
	}
	.clase {
		color: var(--grisOscuro);
		font-size: 1.5rem;
		margin-bottom: 8px;
	}
	.textoPortada {
		padding: 0px var(--marginContainerMovile);
	}
}
.portada.portada-pagina {
	display: none;
}


@media (min-width: $screeeDesktop) {
    .portada {
		position: relative;
		margin-bottom: 0;
		z-index: auto;
		min-height: calc(var(--heightPortada));
		img {
			object-fit: cover;
		}
		.imgFondo {
			max-height: var(--heightPortada);
			margin-bottom: 0px;
		}
		.textoPortada {
			position: absolute;
			top: 50%;
			transform: translatey(-50%);
			padding: 0px 15%;
		}
		.titulo {
			color: var(--blanco);
		}
		.clase {
			color: var(--blanco);
			margin-bottom: 16px;
		}
	}
	.portada.portada-pagina {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--blanco);
		z-index: -2;
		img {
			object-fit: contain;
			max-height: 100px;
		}
	}
	.oscurecer-img {
		background-image: linear-gradient(to bottom, rgb(0,0,0,0.4), rgb(0,0,0,0.4));
	}
}