.header.pagina-principal {
	position: relative;
	.barra-navegacion {
		position: absolute;
		top: 0;
		z-index: 10;
		background-color: transparent;
		.contenedor-menu {
			background: rgba(0,0,0,0.4);
		}
		.menu-principal .sub-menu {
			background: rgba(0,0,0,0.6);
		}
	}
	.portada {
		z-index: -1;
		width: 100%;
		position: static;
    	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0px, rgba(0, 0, 0, 0) var(--heightHeader));
		.imgFondo {
			max-height: unset;
		}
		img {
			height: calc(var(--heightPortada)*5);
			object-fit: cover;
		}
		.textoPortada {
			position: absolute;
			bottom: 0%;
			padding-bottom: 40px;
			.titulo {
				color: var(--blanco);
				font-weight: 600;
			}
		}
	}
}
.contenido-pagina-principal {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 4%;
}


@media (min-width: $screeeDesktop) {
	.header.pagina-principal {
		.barra-navegacion {
			.menu-principal {
				.sub-menu {
					background: var(--grisClaro);
				}
				> ul > li {
					&:hover > a {
						text-shadow: unset;
					}
					> a {
						color: var(--blanco);
						text-shadow: 3px 3px 6px var(--negro);
						transition: text-shadow 0.5s ease-in-out;
					}
				}
			}
			.contenedor-cabecera {
				.logo {
					svg {
						filter: drop-shadow(3px 3px 6px var(--negro));
						path {
							fill: var(--blanco);
						}
					}
				}
			}
			.contenedor-menu {
				background: transparent;
				.menu-item-has-children {
					> a {
						&:after {
							border: solid var(--blanco);
							border-width: 0 3px 3px 0;
						}
					}
				}
				.menu-principal {
					> ul {	  
						> .menu-item::before {
							background: var(--azulGasol);
							opacity: 1;
						}
					}
				}
			}
		}
		.portada {
			.textoPortada {
				.titulo {
					font-size: 78px;
					line-height: 82px;
					padding-top: 62px;
				}
				left: 50%;
				padding: 0px;
				width: 50%;
			}
		}
	}
	.contenido-pagina-principal {
		margin: 0px var(--marginContainerMovile) !important;
		grid-template-columns: 1fr 3fr;
		align-items: center;
	}
}