$color_1: var(--texto);
$color_2: var(--titulo);
$color_3: var(--blanco);
$color_5: var(--grisOscuro);
$font-family_1: var(--fuentePrincipal);
$background-color_1: var(--grisClaro);
$background-color_2: var(--azulGasol);
$background-color_3: var(--blanco);
$background-color_4: var(--grisOscuro);
$background-color_5: transparent;
$border-color_1: var(--azulGasol);

/** Tamaños de pantalla. Mobile first **/
// screenTable:
$screeeDesktop: 768px